<p style="color: green"><%= notice %></p>

<% content_for :title, "Dogs" %>

<h1>Dogs</h1>

<!-- Search form -->
<%= form_with url: dogs_path, method: :get, local: true do %>
  <div class="row mb-3">
    <div class="col-md-4">
      <%= text_field_tag :search, params[:search], placeholder: "Search dogs, owners, or breeds...", class: "form-control" %>
    </div>

    <div class="col-md-3">
      <%= select_tag :breed_id,
          options_from_collection_for_select(@breeds, :id, :name, params[:breed_id]),
          include_blank: "All Breeds",
          class: "form-select" %>
    </div>

    <div class="col-md-2">
      <button class="btn btn-primary w-100" type="submit">Search</button>
    </div>
  </div>
<% end %>

<%= link_to "Clear Filters", dogs_path, class: "btn btn-secondary mb-3" %>

<!-- Results -->
<div id="dogs">
  <% if @dogs.any? %>
    <% @dogs.each do |dog| %>
      <div class="card mb-3 p-3">
        <h5><%= dog.name %></h5>
        <p>
          <strong>Owner:</strong> <%= dog.owner.name %><br>
          <strong>Breed:</strong> <%= dog.sub_breed.breed.name %> (<%= dog.sub_breed.name %>)
        </p>
        <%= link_to "Show this dog", dog, class: "btn btn-primary btn-sm" %>
      </div>
    <% end %>
  <% else %>
    <p>No results found.</p>
  <% end %>
</div>

<%= link_to "New Dog", new_dog_path, class: "btn btn-success mt-3" %>
